.checkout-page {
  margin-top: 9.25rem;
  padding: 2rem 2rem 2rem 26rem;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  color: #fff;
}
@media (max-width: 768px) {
  .checkout-page {
    padding: 2rem;
  }
}
