.book-page {
  margin-top: 9.25rem;
  padding: 2rem 2rem 2rem 26rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  color: #fff;
  transition: ease-out padding 300ms;
}
@media (max-width: 768px) {
  .book-page {
    padding: 2rem;
  }
}
