.cart-item {
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem #ffffff3b;
  min-width: 50rem;
}

@media (max-width: 840px) {
  .cart-item {
    min-width: 0;

    & * {
      font-size: 1.5rem;
    }
  }
}
@media (max-width: 600px) {
  .cart-item {
    & * {
      font-size: 1.3rem;
    }
  }
}
