.payment-summary {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  padding: 2rem;
  border: 0.2rem solid #182787;
  border-radius: 1rem;
  max-width: 44rem;
  min-width: 30rem;
  position: sticky;
  top: calc(9.25rem + 2rem);
}
@media (max-width: 1158px) {
  .payment-summary {
    position: static;
  }
}
.rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 700;
}
