.user-details {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
}
.username {
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
}
.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  font-size: 1.8rem;
  font-weight: 700;
  background: radial-gradient(circle at 30% 30%, #0e0c4f, #040332);
  color: #f5f5f5;
  border: 0.2rem solid #ffd700;
  box-shadow: 0 0 2rem rgba(255, 217, 0, 0.281);
}
.tooltip {
  position: absolute;
  top: -2rem;
  right: -3rem;
  background-color: #040332;
  border: 0.1rem solid #364bda;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  font-weight: 500;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  z-index: 10;
}
.edited {
  font-size: 1.2rem;
  font-weight: 700;
  color: #ffffff51;
  margin-top: 0.2rem;
}
