.auth-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
}

.auth-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  background-color: #121147;
  font-size: 2.6rem;
  font-weight: 800;
  text-shadow: 0 0 0.8rem #0a67bd;
  flex-shrink: 0;
}
.auth-content {
  width: 60rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 0.5rem;
  p {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 0.8rem #0a67bd;
  }
  h1 {
    font-weight: 800;
    text-shadow: 0 0 0.8rem #0a67bd;
  }
}
.separator-line {
  width: 100%;
  height: 0.2rem;
  background-image: radial-gradient(#dc42ff, transparent);
  margin-top: 1.5rem;
}
