.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.pagination-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 3rem;
  border: none;
  background-image: linear-gradient(to right, #256bff, #051462);
  box-shadow: inset 0 0 1rem #266cff;
  color: #fff;
  border-radius: 10rem;
  cursor: pointer;
  margin: 0 1.5rem;
  &:hover {
    background-image: linear-gradient(to right, #1e5ed1, #030f3a);
    box-shadow: inset 0 0 1rem #266cff, 0 0 1rem #1e5ed1;
  }
  &:disabled {
    background-image: linear-gradient(to right, #cfcfcf, #2d2d2d);
    box-shadow: inset 0 0 1rem #6b6b6b;
    cursor: default;
  }
}
@media (max-width: 768px) {
  .pagination-controls {
    width: 4.6rem;
    height: 2.6rem;
  }
}

.page-number {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  background-image: radial-gradient(#256bff, #051462 0%);
  box-shadow: inset 0 0 1rem #266cff;
  color: #fff;
  font-weight: 700;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: #d9e2ff;
    box-shadow: 0 0 1rem #266cff;
  }
}
.page-number.active {
  background-image: none;
  background-color: #ffffff;
  color: #051462;
  width: 4rem;
  height: 4rem;
  &:disabled {
    pointer-events: none;
  }
}

.pagination .page-number.active + *:not(.pagination-controls) {
  width: 3.5rem;
  height: 3.5rem;
}
.pagination .page-number.active + * + *:not(.pagination-controls) {
  width: 3rem;
  height: 3rem;
}

.pagination .page-number:has(+ *.active) {
  width: 3.5rem;
  height: 3.5rem;
}
.pagination .page-number:has(+ * + *.active) {
  width: 3rem;
  height: 3rem;
}

.ellipsis {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
  padding: 0 0.5rem;
}
