:root {
  font-size: 10px;
  line-height: 1.15;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 1.6rem;
  background-color: #040332;
  color: black;
  user-select: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
}

textarea::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

textarea {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.info-message {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffffc1;
  text-align: center;
  height: 100%;
  min-height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.toTop {
  justify-content: start;
}
.info-link {
  text-decoration: underline;
  color: #145af0;
  transition: color 150ms;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 2.4rem;
  &:hover {
    color: #4d82f4;
  }
  &:active {
    color: #0f5bbf;
  }
}
.Toastify__toast {
  text-align: center;
  background-color: #040332;
  border-radius: 1rem;
}
.Toastify__toast--error {
  border: 0.2rem solid #d32c2c;
  background-image: linear-gradient(to right, #471a1a, #290f24, #040332);
  color: #ffb3b3;
}
.Toastify__toast--success {
  border: 0.2rem solid #2e7d32;
  background-image: linear-gradient(to right, #1b3a1b, #10241c, #040332);
  color: #b9fbc0;
}
.Toastify__toast--warning {
  border: 0.2rem solid #ed6c02;
  background-image: linear-gradient(to right, #4e3a14, #2f2111, #040332);
  color: #ffe0b2;
}
.Toastify__toast--info {
  border: 0.2rem solid #0288d1;
  background-image: linear-gradient(to right, #133e59, #0a2642, #040332);
  color: #b3e5fc;
}
