.links {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  height: 4.6rem;
  color: #3d5ea9;
  font-weight: 700;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    color: #ffffff;
    .links-icons {
      background-image: none;
    }
  }
  & span {
    width: 2.6rem;
    height: 2.2rem;
    background-color: #2c41c8;
    border: 0.2rem solid #1281ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.6rem;
    font-weight: 800;
    font-size: 1.2rem;
    color: #fff;
    align-self: center;
    margin-top: 0.3rem;
    margin-left: auto;
  }
  &.active {
    color: #ffffff;
    .links-icons {
      background-image: none;
    }
  }
}
.links-icons {
  height: 100%;
  aspect-ratio: 1/1;
  background: linear-gradient(to bottom, #182787, #1f2f9e), #2c41c8;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
