.change-password-border {
  user-select: none;
  padding: 0.2rem;
  background: linear-gradient(to bottom, #ffa600, #663800), #ffa600;
  cursor: pointer;
  &:hover {
    background-image: none;
    box-shadow: 0 0 6rem 0 #ffa60090;
  }
  &:hover .change-password-button {
    background-image: radial-gradient(
      53.51% 92.42% at 50% 7.58%,
      #663800 0%,
      #ffa600 100%
    );
  }
  &:active {
    transform: scale(0.99);
    box-shadow: 0 0 2rem 0 #ffa60090;
  }
}
.change-password-button {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    53.51% 92.42% at 50% 7.58%,
    #cc8400 0%,
    #663800 100%
  );
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
