.remove-from-cart-border {
  user-select: none;
  padding: 0.2rem;
  background: linear-gradient(to bottom, #4061a8, #27437f 60%), #4061a8;
  cursor: pointer;
  &:hover {
    background-image: none;
    box-shadow: 0rem 0rem 6rem 0rem #e63946;
  }
  &:hover .remove-from-cart-button {
    background: radial-gradient(
      107.04% 92.42% at 50% 7.58%,
      #27437f 0%,
      #1d5be1 100%
    );
    color: #e63946;
  }
  &:active {
    transform: scale(0.99);
    box-shadow: 0rem 0rem 2rem 0rem #e63946;
  }
}
.remove-from-cart-button {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    53.51% 92.42% at 50% 7.58%,
    #1d5be1 0%,
    #27437f 100%
  );
  color: #6786c9;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
