.checkout-border {
  width: 10.2rem;
  height: 4rem;
}

.checkout-button {
  text-transform: uppercase;
  gap: 0.4rem;
  .cart-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    .cart-quantity {
      position: absolute;
      color: #008f20;
      font-size: 1.3rem;
      top: -0.1rem;
      letter-spacing: -1px;
    }
    img {
      width: 2.4rem;
    }
  }
}
