.search-label {
  display: flex;
  flex: 1;
  max-width: 50%;
  position: relative;
}
.search-bar {
  width: 100%;
  min-width: none;
  font-size: 1.5rem;
  line-height: 1.4;
  border: 0.2rem solid #0b165f;
  background-color: #0d0c3e;
  color: #fff;
  border-radius: 1.5rem;
  padding: 1rem 0 1.2rem 1.2rem;
  &:hover {
    border-color: #1b2b94;
  }
  &:focus {
    border-color: #3c4fcc;
  }
  &::placeholder {
    opacity: 0.5;
  }
}
.search-icon {
  position: absolute;
  align-self: center;
  right: 1rem;
  padding: 0.7rem;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 1rem #3c4fcc, inset 0 0 1rem #3c4fcc;
  }
}
